@media screen {
  .dashboard {
    display: flex;
    background-color: #eff7f8;
    height: 100%;
  
    .modalBackGround {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 60px;
      background-color: rgba(18, 26, 45, 0.292);
      z-index: 2000;
      width: 100vw;
      height: 100vh;
      position: fixed;
    }
  }
  .addToCardModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
    left: 50%;
    width: 350px;
    padding: 4.8rem;
    flex-shrink: 0;
    // background-color: red;
    z-index: 10000;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(16, 24, 32, 0.10);
  
    .addToCardHeader {
      color: #121A2D;
      text-align: center;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 27px; /* 135% */
    }
  
    .addCardForm {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      width: 100%;
      margin-top: 4.8rem;
      gap: 4rem;
  
      .button-areas {
        display: flex;
        justify-content: space-between;
        border: none;
        gap: 1.6rem;
        width: 100%;
      }
  
      .cancel-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 3.1rem;
        border-radius: 16px;
        background: #E7E7E8;
        border: none;
        width: 100%;
        cursor: pointer;
      }
      .save-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 5.5rem;
        border-radius: 16px;
        background: #089BAB;
        color: white;
        border: none;
        width: 100%;
        cursor: pointer;
      }
      .country-cvc-expiry {
        display: flex;
        justify-content: space-between;
        gap: 2.4rem;
        width: 100%;
      }
  
      .label-input {
        display: flex;
        flex-direction: column;
      }
  
      .addToCard-label {
        color: #089BAB;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .addToCard-input {
        border: 0;
        border-bottom: 1px solid black;
        color: #089BAB;
        font-size: 12px;
        margin-top: 3px;
        padding: 0.5rem 0.2rem;
        outline: none;
        width: 100%;
      }
    }
  }
  //! DashboardUserArea DashboardUserArea DashboardUserArea DashboardUserArea DashboardUserArea DashboardUserArea
  .scrollbarhidden {
    overflow-y: hidden; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 4.8rem 0;
  }
  
  .dashboarduser {
    width: 100%;
    // height: 100%;
    // position: sticky;
    // top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 3.2rem;
    overflow-y: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    &::-webkit-scrollbar {
      display: none;
    }
    
  
    .userCard {
      width: 325px;
      height: 240px;
      border-radius: 25px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin-top: 30px;
      
      .imgArea {
        width: 107px;
        height: 107px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid #6bc3cd;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -30px;
      }
      .userInfo {
        width: 100%;
        height: 150px;
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        bottom: 0px;
        padding-bottom: 20px;
  
        .name {
          font-weight: 500;
          font-size: 18px;
          color: #121a2d;
          font-family: "Poppins", sans-serif;
        }
        .age {
          font-weight: 300;
          font-size: 14px;
          color: #888c96;
          font-family: "Poppins", sans-serif;
        }
        ul {
          display: flex;
          justify-content: space-evenly;
          list-style-type: none;
          margin-top: 30px;
          li {
            font-family: "Poppins", sans-serif;
  
            p {
              font-size: 12px;
              color: #089bab;
            }
            li {
              font-weight: 500;
              font-size: 24px;
              color: #121a2d;
            }
          }
        }
      }
    }
    //*  notifications notifications notifications notifications notifications
    .notifications {
      width: 325px;
      font-family: "Poppins", sans-serif;
  
      .notificationsHead {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5px;
        .name {
          font-size: 16px;
          color: #089bab;
        }
        .date {
          font-size: 14px;
          color: #888c96;
        }
      }
      .card {
        width: 100%;
        height: 330px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: white;
  
        border-radius: 25px;
        p {
          margin-top: 10px;
          text-align: center;
          margin-inline: 80px;
          font-size: 14px;
          color: #089bab;
        }
      }
    }
    .creditCard {
      width: 325px;
      height: 112px;
      background-color: white;
      border-radius: 25px;
      display: flex;
      justify-content: start;
      align-content: center;
      button {
        width: 100%;
        background: none;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        color: #089bab;
        cursor: pointer;
      }
      button * {
        margin-left: 20px;
      }
    }
  }
  
  //! DashboardInformation DashboardInformation DashboardInformation DashboardInformation DashboardInformation
  .scrolBar {
    // overflow: hidden;
    
    
  }
  .dashboardinformation {
    width: 100%;
    z-index: 100;
    border-radius: 70px 0px 0px 70px;
    background-color: white;
    padding: 50px;
    // position: absolute; 
    right: 0px;
    overflow-y: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    &::-webkit-scrollbar {
      display: none;
    }
  
    .examinations {
      .examinationsHead {
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
        p {
          color: #089bab;
          font-family: Poppins;
          font-size: 28px;
        }
        button {
          display: flex;
          align-items: center;
          background: none;
          border: none;
          outline: none;
  
          .imgbg {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            background-color: #ceebee;
            border-radius: 16px;
          }
          p {
            font-size: 18px;
            font-weight: 500;
            margin-left: 10px;
          }
        }
      }
    }
    .examinationsCard {
      display: flex;
      width: 100%;
      height: 122px;
      border-radius: 20px;
      border: 1px solid #e6f5f6;
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      img {
        width: 43px;
        height: 51px;
        margin-left: 40px;
      }
      p {
        color: #089bab;
        font-family: Poppins;
        font-size: 14px;
        margin-left: 20px;
      }
    }
    .healthCurveHead {
      display: flex;
      margin-top: 15px;
      justify-content: space-between;
      p {
        color: #089bab;
        font-family: Poppins;
        font-size: 28px;
      }
      .filter {
        width: 230px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        button {
          width: 48px;
          height: 48px;
          border-radius: 16px;
          background: #ceebee;
          border: none;
          outline: none;
          color: #089bab;
          font-family: Poppins;
          font-size: 20px;
        }
        button:focus {
          background-color: #089bab;
          color: white;
        }
      }
    }
    .healthcurve {
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .ln {
        position: absolute;
        width: 51%;
        height: 2px;
        background-color: #24645c1a;
      }
      img {
        width: 51%;
        position: absolute;
      }
      .line {
        width: 100% !important;
        height: 250px !important;
        z-index: 999;
      }
    }
  }
  // Healthcurved Footer Average My Data checkbox
  .healthCurveFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7.2rem;
    margin-top: 4.2rem;
  
    .check {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.2rem;
  
      .checked {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        background-color: #089bab;
        border: 0;
      }
      /* Radio */
  
  input[type="radio"] {
    background-color: #CEEBEE;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
  }
  input[type="radio"]:after {
    // background-color: ;
    border-radius: 25px;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    // left: 4px;
    position: relative;
    // top: 4px;
  }
  input[type="radio"]:checked:after {
    background-color: #089BAB;
  }
  
      .notChecked {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
      }
  
      label {
        color: #888C96;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  
  //
  .nearestTreatmentAndAdviceArea {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    gap: 1rem;
  
    .nearestTreatment {
      display: flex;
      width: 367px;
      flex-direction: column;
      gap: 1.7rem;
  
      .container {
        margin: 0 auto;
        padding: 40px;
        width: 80%;
        color: #333;
        background: #419be0;
      }
      .title {
        color: #089BAB;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.7px;
      }
  
      .monthYearArrow {
        display: flex;
        gap: 2rem;
        align-items: center;
  
        .MonthYear{
          color: #000;
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }
      }
      .sliderBack {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 367px;
        padding: 2rem 2rem;
        border-radius: 30px;
        background: #FFF;
        box-shadow: 0px 16px 55px 0px rgba(120, 146, 141, 0.20);
  
        .dayofWeek {
          color: rgba(0, 0, 0, 0.87);
          text-align: center;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
    .advice {
      display: flex;
      width: 302px;
      flex-direction: column;
      gap: 1.7rem;
  
      .title {
        color: #089BAB;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.7px;
      }
      .aboutAdvice {
        color: #121A2D;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 178.571% */
      }
      .moreInfo {
        color: #121A2D;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 171.429% */
      }
      .infoLink {
        color: #089BAB;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 200% */
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .dashboard {
    display: flex;
    background-color: #eff7f8;
    height: 100%;
    flex-direction: column;
  
    .modalBackGround {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 60px;
      background-color: rgba(18, 26, 45, 0.292);
      z-index: 2000;
      width: 100vw;
      height: 100vh;
      position: fixed;
    }
  }
  .addToCardModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
    left: 50%;
    width: 350px;
    padding: 4.8rem;
    flex-shrink: 0;
    // background-color: red;
    z-index: 10000;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(16, 24, 32, 0.10);
  
    .addToCardHeader {
      color: #121A2D;
      text-align: center;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 27px; /* 135% */
    }
  
    .addCardForm {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      width: 100%;
      margin-top: 4.8rem;
      gap: 4rem;
  
      .button-areas {
        display: flex;
        justify-content: space-between;
        border: none;
        gap: 1.6rem;
        width: 100%;
      }
  
      .cancel-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 3.3rem;
        border-radius: 16px;
        background: #E7E7E8;
        border: none;
        width: 100%;
        cursor: pointer;
      }
      .save-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 5.5rem;
        border-radius: 16px;
        background: #089BAB;
        color: white;
        border: none;
        width: 100%;
        cursor: pointer;
      }
      .country-cvc-expiry {
        display: flex;
        justify-content: space-between;
        gap: 2.4rem;
        width: 100%;
      }
  
      .label-input {
        display: flex;
        flex-direction: column;
      }
  
      .addToCard-label {
        color: #089BAB;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .addToCard-input {
        border: 0;
        border-bottom: 1px solid black;
        color: #089BAB;
        font-size: 12px;
        margin-top: 3px;
        padding: 0.5rem 0.2rem;
        outline: none;
        width: 100%;
      }
    }
  }
  //! DashboardUserArea DashboardUserArea DashboardUserArea DashboardUserArea DashboardUserArea DashboardUserArea
  .scrollbarhidden {
    overflow-y: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 4.8rem 0;
  }
  
  .dashboarduser {
    width: 100%;
    // height: 100%;
    // position: sticky;
    // top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 3.2rem;
    overflow-y: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    &::-webkit-scrollbar {
      display: none;
    }
    
  
    .userCard {
      width: 325px;
      height: 240px;
      border-radius: 25px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin-top: 30px;
      
      .imgArea {
        width: 107px;
        height: 107px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid #6bc3cd;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -30px;
      }
      .userInfo {
        width: 100%;
        height: 150px;
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        bottom: 0px;
        padding-bottom: 20px;
  
        .name {
          font-weight: 500;
          font-size: 18px;
          color: #121a2d;
          font-family: "Poppins", sans-serif;
        }
        .age {
          font-weight: 300;
          font-size: 14px;
          color: #888c96;
          font-family: "Poppins", sans-serif;
        }
        ul {
          display: flex;
          justify-content: space-evenly;
          list-style-type: none;
          margin-top: 30px;
          li {
            font-family: "Poppins", sans-serif;
  
            p {
              font-size: 12px;
              color: #089bab;
            }
            li {
              font-weight: 500;
              font-size: 24px;
              color: #121a2d;
            }
          }
        }
      }
    }
    //*  notifications notifications notifications notifications notifications
    .notifications {
      width: 325px;
      font-family: "Poppins", sans-serif;
  
      .notificationsHead {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5px;
        .name {
          font-size: 16px;
          color: #089bab;
        }
        .date {
          font-size: 14px;
          color: #888c96;
        }
      }
      .card {
        width: 100%;
        height: 330px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: white;
  
        border-radius: 25px;
        p {
          margin-top: 10px;
          text-align: center;
          margin-inline: 80px;
          font-size: 14px;
          color: #089bab;
        }
      }
    }
    .creditCard {
      width: 325px;
      height: 112px;
      background-color: white;
      border-radius: 25px;
      display: flex;
      justify-content: start;
      align-content: center;
      button {
        width: 100%;
        background: none;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        color: #089bab;
        cursor: pointer;
      }
      button * {
        margin-left: 20px;
      }
    }
  }
  
  //! DashboardInformation DashboardInformation DashboardInformation DashboardInformation DashboardInformation
  .scrolBar {
    // overflow: hidden;
    
    
  }
  .dashboardinformation {
    width: 100%;
    z-index: 100;
    border-radius: 70px 0px 0px 70px;
    background-color: white;
    padding: 50px;
    // position: absolute; 
    right: 0px;
    overflow-y: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    &::-webkit-scrollbar {
      display: none;
    }
  
    .examinations {
      .examinationsHead {
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
        flex-direction: column;
        p {
          color: #089bab;
          font-family: Poppins;
          font-size: 28px;
        }
        button {
          display: flex;
          align-items: center;
          background: none;
          border: none;
          outline: none;
  
          .imgbg {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            background-color: #ceebee;
            border-radius: 16px;
          }
          p {
            font-size: 18px;
            font-weight: 500;
            margin-left: 10px;
          }
        }
      }
    }
    .examinationsCard {
      display: flex;
      width: 100%;
      height: 122px;
      border-radius: 20px;
      border: 1px solid #e6f5f6;
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      img {
        width: 43px;
        height: 51px;
        margin-left: 40px;
      }
      p {
        color: #089bab;
        font-family: Poppins;
        font-size: 14px;
        margin-left: 20px;
      }
    }
    .healthCurveHead {
      display: flex;
      margin-top: 15px;
      justify-content: space-between;
      flex-direction: column;
      p {
        color: #089bab;
        font-family: Poppins;
        font-size: 28px;
      }
      .filter {
        width: 230px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        button {
          width: 48px;
          height: 48px;
          border-radius: 16px;
          background: #ceebee;
          border: none;
          outline: none;
          color: #089bab;
          font-family: Poppins;
          font-size: 20px;
        }
        button:focus {
          background-color: #089bab;
          color: white;
        }
      }
    }
    .healthcurve {
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .ln {
        position: absolute;
        width: 51%;
        height: 2px;
        background-color: #24645c1a;
      }
      img {
        width: 51%;
        position: absolute;
      }
      .line {
        width: 100% !important;
        height: 250px !important;
        z-index: 999;
      }
    }
  }
  // Healthcurved Footer Average My Data checkbox
  .healthCurveFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7.2rem;
    margin-top: 4.2rem;
    flex-direction: column;
    .check {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.2rem;
  
      .checked {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        background-color: #089bab;
        border: 0;
      }
      /* Radio */
  
  input[type="radio"] {
    background-color: #CEEBEE;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
  }
  input[type="radio"]:after {
    // background-color: ;
    border-radius: 25px;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    // left: 4px;
    position: relative;
    // top: 4px;
  }
  input[type="radio"]:checked:after {
    background-color: #089BAB;
  }
  
      .notChecked {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
      }
  
      label {
        color: #888C96;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  
  //
  .nearestTreatmentAndAdviceArea {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    gap: 1rem;
    flex-direction: column;
  
    .nearestTreatment {
      display: flex;
      width: 367px;
      flex-direction: column;
      gap: 1.7rem;
  
      .container {
        margin: 0 auto;
        padding: 40px;
        width: 80%;
        color: #333;
        background: #419be0;
      }
      .title {
        color: #089BAB;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.7px;
      }
  
      .monthYearArrow {
        display: flex;
        gap: 2rem;
        align-items: center;
  
        .MonthYear{
          color: #000;
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }
      }
      .sliderBack {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 367px;
        padding: 2rem 2rem;
        border-radius: 30px;
        background: #FFF;
        box-shadow: 0px 16px 55px 0px rgba(120, 146, 141, 0.20);
  
        .dayofWeek {
          color: rgba(0, 0, 0, 0.87);
          text-align: center;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
    .advice {
      display: flex;
      width: 302px;
      flex-direction: column;
      gap: 1.7rem;
  
      .title {
        color: #089BAB;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.7px;
      }
      .aboutAdvice {
        color: #121A2D;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 178.571% */
      }
      .moreInfo {
        color: #121A2D;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 171.429% */
      }
      .infoLink {
        color: #089BAB;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 200% */
      }
    }
  }
}